<div *ngIf="profilePageService.aboutButton === 'about' || profilePageService.aboutButton === undefined">
    <tabs-about-profile title="About" class="card">
        <tab-about-profile tabTitle="Description">
            <div *ngIf="profilePageService.editDescription">
                <form>
                    <div class="form-row form-spacing">
                        <div class="col-md-12 col-sm-12">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file-field">
                                <label class="custom-file-label" for="file-field">Profile Picture</label>
                            </div>
                        </div>
                    </div>
                    <img id="profilePicLoaded" style="display: none;" class="profile-pic profile-pic-sm">
                    <div class="form-row form-spacing">
                        <div class="col-md-12 col-sm-11">
                            <textarea class="form-control" value="{{data.about}}" id="text-area-1" rows="3" placeholder="Textarea"></textarea>
                        </div>
                        <button type="button" (click)="profilePageService.editDescription = false" style="margin-right: 10px; margin-top:15px; margin-bottom: 15px;" class="btn btn-outline-primary text-uppercase ml-auto">Cancel</button>
                        <button type="submit" style="margin-right: 10px; margin-top:15px; margin-bottom: 15px;" class="btn btn-primary text-uppercase">Submit</button>
                    </div>
                </form>
            </div>
            <div *ngIf="!profilePageService.editDescription">
                <div style="margin-bottom: 40px;">{{data.about}}</div>
                <a (click)="profilePageService.editDescription = true" class="no-arrow btn-hover" style="float: right; margin-bottom: 20px;">
                    <gx-icon name="settings" size="xl" class="mr-2"></gx-icon>
                    <span class="d-none d-sm-inline-block">Edit</span>
                </a>
            </div>
        </tab-about-profile>
        <tab-about-profile tabTitle="Overview">
            <div *ngIf="editPersonal">
                <form>
                    <div class="form-row form-spacing">
                        <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="normal-input-1">Brokerage</label>
                        <div class="col-md-10 col-sm-9">
                            <input type="text" value="{{data.brokerage}}" class="form-control" id="normal-input-1" placeholder="Brokerage">
                        </div>
                    </div>
                    <div class="form-row form-spacing">
                        <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="normal-input-1">Business Address</label>
                        <div class="col-md-10 col-sm-9">
                            <input type="text" value="{{data.address}}" class="form-control" id="normal-input-1" placeholder="Business Address">
                        </div>
                    </div>
                    <div class="form-row form-spacing">
                        <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="normal-input-1">City</label>
                        <div class="col-md-10 col-sm-9">
                            <input type="text" value="{{data.city}}" class="form-control" id="normal-input-1" placeholder="City">
                        </div>
                    </div>
                    <div class="form-row form-spacing">
                        <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="simple-select">Province</label>
            
                        <div class="col-md-10 col-sm-9">
                        <select class="form-control" [value]="data.provinceState" id="simple-select">
                            <option>Alberta</option>
                            <option>British Columbia</option>
                            <option>Manitoba</option>
                            <option>New Brunswick</option>
                            <option>Newfoundland and Labrador</option>
                            <option>Northwest Territories</option>
                            <option>Nova Scotia</option>
                            <option>Nunavut</option>
                            <option>Ontario</option>
                            <option>Prince Edward Island</option>
                            <option>Quebec</option>
                            <option>Saskachewan</option>
                            <option>Yukon</option>
                        </select>
                        </div>
                        <button type="button" (click)="editPersonal = false" style="margin-right: 10px; margin-top:15px; margin-bottom: 15px;" class="btn btn-outline-primary text-uppercase ml-auto">Cancel</button>
                        <button type="submit" style="margin-right: 10px; margin-top:15px; margin-bottom: 15px;" class="btn btn-primary text-uppercase">Submit</button>
                    </div>
                </form>
            </div>
            <div *ngIf="!editPersonal">
                <!-- List -->
                <ul class="dt-list dt-list-col-4">
                    <!-- List Item -->
                    <li class="dt-list__item">
                        <!-- Media -->
                        <gx-media-icon-card label="Brokerage">
                            <gx-icon name="company" size="4x" class="mr-5 align-self-center text-yellow" icon></gx-icon>
                            <p class="h5 mb-0" text>{{data.brokerage}}</p>
                        </gx-media-icon-card>
                        <!-- /media -->
                    </li>
                    <!-- /list item -->

                    <!-- List Item -->
                    <li class="dt-list__item">
                        <!-- Media -->
                        <gx-media-icon-card label="Office Location">
                            <gx-icon name="home" size="4x" class="mr-5 align-self-center text-yellow" icon></gx-icon>
                            <p class="h5 mb-0" text>{{data.address}},</p>
                            <p class="h5 mb-0" text>{{data.city}},</p>
                            <p class="h5 mb-0" text>{{data.provinceState}}</p>
                        </gx-media-icon-card>
                        <!-- /media -->
                    </li>
                    <!-- /list item -->
                </ul>
                <!-- /list -->
                <a (click)="editPersonal = true" class="no-arrow btn-hover" style="float: right; margin-bottom: 20px;">
                    <gx-icon name="settings" size="xl" class="mr-2"></gx-icon>
                    <span class="d-none d-sm-inline-block">Edit</span>
                </a>
            </div>
        </tab-about-profile>
        <tab-about-profile tabTitle="Reviews">
            <div class="dt-card">
                <card-body>
                    <form>
                        <!-- Media -->
                        <div class="media">
                            <avatar img_class="dt-avatar size-50 mr-2" src="{{ratings[0].image}}" firstName="Test"></avatar>
            
                            <!-- Media Body -->
                            <div class="media-body">
                                <!-- Text Area -->
                                <textarea class="form-control border-0 shadow-none bg-focus" rows="3"
                                        placeholder="Write a review" style="resize: none;"></textarea>
                                <!-- /text area -->
                            </div>
                            <!-- /media body -->
                        </div>
                        <!-- /media -->
            
                        <!-- Separator -->
                        <hr>
                        <!-- /separator -->
            
                        <div class="d-flex align-items-center">
                            <div class="dt-attachment-btn border-0 d-inline-flex align-items-center overflow-hidden">
                                <span class="designation review-designation" style="display:flex;">
                                    <div class="rating-1">☆</div><div class="rating-2">☆</div><div class="rating-3">☆</div><div class="rating-4">☆</div><div class="rating-5">☆</div>
                                </span>
                            </div>
            
                            <button type="submit"
                                    class="btn btn-primary text-uppercase ml-auto">send</button>
                        </div>
                    </form>
                </card-body>
            </div>
            
            <div *ngFor="let review of ratings; index as j;">
                <div class="container row" [style]="j === (ratings.length - 1) ? 'margin-bottom: 10px;' : ''">
                    <avatar img_class="dt-avatar size-60 mr-6 mb-6 mb-sm-0" src="{{review.image}}" firstName="{{review.firstName}}"></avatar>
                    
                    <div class="dt-module__list-item-content" data-location="mail-detail.html">
                        <div class="user-detail">
                            <span class="user-name">{{review.firstName + " " + review.lastName}}</span>
                            <span class="dt-separator-v">&nbsp;</span>
                            <span class="designation date-designation">2020-01-01</span>
                            <span class="dt-separator-v">&nbsp;</span>
                            <span class="designation review-designation" style="display:flex;">
                                <div class="rating-1">☆</div><div class="rating-2">☆</div><div class="rating-3">☆</div><div class="rating-4">☆</div><div class="rating-5">☆</div>
                            </span>
                        </div>
                        <p class="mb-0 text-light-gray text-truncate">{{review.description | htmlToPlainText | slice:0:100}}</p>
                    </div>
                </div>
                <div *ngIf="j !== (ratings.length - 1)">
                    <hr>
                </div>
            </div>

        </tab-about-profile>
    </tabs-about-profile>
</div>
<div class="row" *ngIf="profilePageService.aboutButton === 'following'">

    <!-- Grid Item -->
    <div *ngFor="let user of followers.friends; index as i; first as isFirst" class="col-xl-4 col-md-4 col-sm-6 col-12">

    <!-- Card -->
    <gx-grid>
        <!-- User Avatar-->
        <avatar img_class="dt-avatar size-60" src="{{user.image}}" firstName="{{user.name}}"></avatar>
        <!-- /user avatar-->

        <div class="mt-7">
            <h4 class="mb-1 mb-sm-0">{{user.name}}</h4>
            <div style="padding:10px;"></div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm">See Profile Page</a>
          </div>
    
          <div class="action-tools">
            <!-- Dropdown -->
            <div placement="bottom-right">
            <button type="button" class="btn btn-outline-secondary mb-2" [ngClass]="user.followed ? 'toggled_btn_follow' : ''"
                    (click)="user.followed = !user.followed" aria-pressed="false"
                    autocomplete="off">
                    <div *ngIf="user.followed">Following</div>
                    <div *ngIf="!user.followed">Follow</div>
            </button>
            </div>
            <!-- /dropdown -->
          </div>

    </gx-grid>
    <!-- /Card -->

    </div>
    <!-- /grid item -->

</div>