<!-- Custom container -->
<div class="dt-container">

  <!-- Brand -->
  <div class="dt-brand">

    <!-- Brand tool -->
    <div class="dt-brand__tool d-lg-none" (click)="toggleNavigation()"
         [ngClass]="{'active':settings.navigationStyle == 'folded'}">
      <div class="hamburger-inner"></div>
    </div>
    <!-- /brand tool -->

    <!-- Brand logo -->
    <span class="dt-brand__logo">
      <a class="dt-brand__logo-link" routerLink="/portal/index/home">
        <img class="dt-brand__logo-img d-none d-sm-inline-block" src="/assets/HouseRicher/HouseRicher Nav Bar Logo.png" alt="HouseRicher">
        <img class="dt-brand__logo-symbol d-sm-none" src="/assets/HouseRicher/HouseRicher Icon.png" alt="HouseRicher">
      </a>
    </span>
    <!-- /brand logo -->

  </div>
  <!-- /brand -->

  <!-- Header toolbar-->
  <div class="dt-header__toolbar">

    <!-- Navbar -->
    <app-navigation layout="horizontal" class="navbar-nav navbar-expand-lg dt-navbar d-none d-lg-flex"></app-navigation>
    <!-- /navbar -->

    <!-- Header Menu Wrapper -->
    <div class="dt-nav-wrapper">

      <!-- /header menu -->

      <!-- Header Menu -->
      <ul class="dt-nav">
        <li class="dt-nav__item dt-notification-search" ngbDropdown>

          <!-- Dropdown Link -->
          <a href="javascript:void(0)" class="dt-nav__link no-arrow" ngbDropdownToggle>
            <gx-icon name="search" size="xl" [fw]="true"></gx-icon>
          </a>
          <!-- /dropdown link -->

          <!-- Dropdown Option -->
          <div ngbDropdownMenu>

            <!-- Search Box -->
            <form class="search-box right-side-icon">
              <input class="form-control form-control-lg"
                     type="search"
                     placeholder="Search in app..."
                     (click)="$event.stopPropagation()">
              <button type="submit" class="search-icon" (click)="$event.stopPropagation()">
                <gx-icon name="search" size="lg"></gx-icon>
              </button>
            </form>
            <!-- /search box -->

          </div>
          <!-- /dropdown option -->

        </li>
      </ul>
      <!-- /header menu -->

      <!-- Header Menu -->
      <ul class="dt-nav">
        <li class="dt-nav__item dt-notification" ngbDropdown [placement]="['bottom-right', 'bottom']">

          <!-- Dropdown Link -->
          <a href="javascript:void(0)" class="dt-nav__link no-arrow" ngbDropdownToggle>
            <gx-icon name="notification2" size="xl" fw="true" class="dt-icon-alert"></gx-icon>
          </a>
          <!-- /dropdown link -->

          <!-- Dropdown Option -->
          <my-notifications ngbDropdownMenu class="dropdown-menu-media"></my-notifications>
          <!-- /dropdown option -->

        </li>

        <!--
        <li class="dt-nav__item dt-notification" ngbDropdown [placement]="['bottom-right', 'bottom']">

          <a href="javascript:void(0)" class="dt-nav__link no-arrow" ngbDropdownToggle>
            <gx-icon name="open-mail" size="xl" fw="true"></gx-icon>
          </a>

          <my-messages ngbDropdownMenu class="dropdown-menu-media"></my-messages>

        </li>
        -->
      </ul>

      <!-- Header Menu -->
      <ul class="dt-nav">
        <li class="dt-nav__item" ngbDropdown>

          <!-- Dropdown Link -->
          <a href="javascript:void(0)" class="dt-nav__link" ngbDropdownToggle>
            <i class="flag-icon flag-icon-rounded flag-icon-lg" [ngClass]="currentLanguage.flag"></i>
            <span>{{currentLanguage.title}}</span>
          </a>
          <!-- /dropdown link -->

          <!-- Dropdown Option -->
          <div ngbDropdownMenu>
            <a href="javascript:void(0)" *ngFor="let lang of languages" (click)="switchLanguage(lang)"
               class="dropdown-item" [ngClass]="{active:lang.id === currentLanguage.id}">
              <i class="flag-icon mr-2" [ngClass]="lang.flag"></i>
              <span>{{lang.title}}</span>
            </a>
          </div>
          <!-- /dropdown option -->

        </li>
      </ul>
      <!-- /header menu -->

      <!-- Header Menu -->
      <ul class="dt-nav" *ngIf="currentUser">
        <li class="dt-nav__item" placement="bottom-right" ngbDropdown>

          <!-- Dropdown Link -->
          <a href="javascript:void(0)" class="dt-nav__link no-arrow dt-avatar-wrapper" ngbDropdownToggle>

            <avatar img_class="circle dt-avatar size-50" src="{{currentUser.profilePicture}}" firstName="{{currentUser.firstName}}"></avatar>
            <span class="dt-avatar-info d-none">
              <span class="d-block text-light-primary f-10 mb-1">Welcome back!</span>
              <span class="dt-avatar-name">{{currentUser.firstName + ' ' + currentUser.lastName}}</span>
            </span>
          </a>
          <!-- /dropdown link -->

          <!-- Dropdown Option -->
          <div ngbDropdownMenu>
            <div class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">
              <avatar img_class="dt-avatar size-40 mr-6 mb-6 mb-sm-0" src="{{currentUser.profilePicture}}" firstName="{{currentUser.firstName}}"></avatar>
              <span class="dt-avatar-info">
                  <span class="dt-avatar-name">{{currentUser.firstName + ' ' + currentUser.lastName}}</span>
                </span>
            </div>
            <a class="dropdown-item" href="/portal/user/profile/{{currentUser.id}}">
              <gx-icon name="user" [fw]="true" class="mr-2 mr-sm-1"></gx-icon>
              Account
            </a>

            <a class="dropdown-item logout-button" (click)="logout()">
              <gx-icon name="editors" [fw]="true" class="mr-2 mr-sm-1"></gx-icon>
              Logout
            </a>
          </div>
          <!-- /dropdown option -->

        </li>
      </ul>
      <!-- /header menu -->

    </div>
    <!-- Header Menu Wrapper -->

  </div>
  <!-- /header toolbar -->

</div>
<!-- /custom container -->
