<!-- Profile Banner -->
<div class="profile__banner">

    <!-- Profile Banner Top -->
    <div class="profile__banner-detail">
        <!-- Avatar Wrapper -->
        <div class="dt-avatar-wrapper">
            <a (click)="profilePicEdit()">
                <avatar img_class="dt-avatar size-90 mr-sm-4" src="{{bannerData.user.image}}" firstName="Reece Jacklin"></avatar>
            </a>

            <!-- Info -->
            <div class="dt-avatar-info">
                <span class="dt-avatar-name display-4 mb-2 font-weight-light">{{bannerData.user.name}}</span>
                <span class="f-16">{{bannerData.user.address}}</span>
                
                <div class="mb-5" style="margin-top:10px;">
                    <div class="d-flex mb-1">
                        <div class="rating-container flex-column">
                            <div style="display:flex;"><div class="rating-1">☆</div><div class="rating-2">☆</div><div class="rating-3">☆</div><div class="rating-4">☆</div><div class="rating-5">☆</div></div>
                            
                            <div class="ratings-review f-16" style="color: #e6e6e6;">
                                <span class="count-number" style="color: #e6e6e6;">350</span> Reviews
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /info -->
        </div>
        <!-- /avatar wrapper -->

        <div class="ml-sm-auto">
            <!-- List -->
            <ul class="dt-list dt-list-bordered dt-list-col-4">
                <!-- List Item -->
                <li class="dt-list__item text-center" *ngFor="let feed of bannerData.feeds" style="padding-right: 70px;">
                    <span class="h4 font-weight-500 mb-0 text-white">{{feed.value | thousandSuff}}</span>
                    <span class="d-block f-12">{{feed.label}}</span>
                </li>
                <!-- /list item -->
            </ul>
            <!-- /list -->
        </div>
    </div>
    <!-- /profile banner top -->

    <!-- Profile Banner Bottom -->
    <div class="profile__banner-navigation">

        <!-- Navbar -->
        <ul class="navbar-nav">

            <!-- Nav Item -->
            <li class="nav-item active">
                <a class="nav-link button-about-switch" [style]="profilePageService.aboutButton == 'following' ? 'color: #e6e6e6;' : 'color: white;'" (click)="aboutClick('about')">About</a>
            </li>
            <!-- /nav item -->

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link button-about-switch" [style]="profilePageService.aboutButton == 'following' ? 'color: white;' : 'color: #e6e6e6;'" (click)="aboutClick('following')">Following
                    <small class="text-light-gray">287</small>
                </a>
            </li>
            <!-- /nav item -->
        </ul>
        <!-- /navbar -->
    </div>
    <!-- /profile banner bottom -->

</div>
<!-- /profile banner -->
