<!-- Profile Content -->
<div class="profile-content">

    <!-- Grid -->
    <div class="row">

        <!-- Grid Item -->
        <div class="col-xl-4 order-xl-2">

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12 col-md-12 col-12 order-xl-1">
                    <!-- Card -->
                    <gx-card [fullHeight]="true" card-title="Contact" header-class="pt-6">
                        <profile-contact></profile-contact>
                    </gx-card>
                    <!-- /card -->
                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

        </div>
        <!-- /grid item -->

        <div class="col-xl-8 order-xl-1">
            <!-- Card -->
            <profile-about [aboutProfile]="data.about_user"></profile-about>
            <!-- /card -->

            <profile-posts></profile-posts>

            <!--
            <gx-card card-title="Events">
                <profile-events class="card shadow-none horizontal rounded-0" *ngFor="let event of data.events; let last = last" [event]="event" [ngClass]="last ? 'mb-0' :'pb-8 border-bottom'"  ></profile-events>
            </gx-card>
            -->
        </div>
    </div>
    <!-- /grid -->
</div>
<!-- /profile content -->
