<!-- Pricing Start -->
<section class="section bg-light" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Plans For Real Estate Agents</h3>
          <p class="text-muted font-size-15">Real Estate Agents get access to their own personal profile page</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="pricing-box rounded text-center p-4">
          <h4 class="title mb-3">Trial</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">$</sup>0</b></h1>
          <p class="text-muted font-weight-semibold">User / Month</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Ability To Post On Forum: Yes</li>
            <li class="text-muted">Personal Profile Page: Yes</li>
            <li class="text-muted">Support: Yes</li>
            <li class="text-muted">Maximum Time Period: 2 months</li>
          </ul>
          <a href="auth/signup/realtor" class="btn btn-primary pr-btn">Start Your Free Trial Now!</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pricing-box rounded text-center active p-4">
          <h4 class="title mb-3">Regular</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">$</sup>15</b></h1>
          <p class="text-muted font-weight-semibold">User / Month</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Ability To Post On Forum: Yes</li>
            <li class="text-muted">Personal Profile Page: Yes</li>
            <li class="text-muted">Support: Yes</li>
            <li class="text-muted">Maximum Time Period: As long as you want</li>
          </ul>
          <a href="auth/signup/realtor" class="btn btn-primary pr-btn">Sign Up Now!</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing End -->
