<!-- Avatar -->
<avatar img_class="dt-avatar size-50 mr-6 mb-6 mb-sm-0" src="{{currentUser.small_image}}" firstName="{{currentUser.name}}"></avatar>
<!-- /avatar -->

<!-- Media Body -->
<div class="media-body">
    <form [formGroup]="commentForm" (ngSubmit)="commentForm.valid && submitComment()">
        <!-- Input Area -->
        <input type="text" class="form-control border-0 shadow-none bg-focus"
               [ngClass]="{'form-control-sm':formSize == 'small'}" formControlName="message"
               placeholder="Type your comment here...">
        <!-- /input area -->
    </form>
</div>
<!-- /media body -->
