<!-- Media -->
<gx-media-icon-card class="mb-5" label="Mail">
    <gx-icon name="mail" size="xl" class="mr-5" icon></gx-icon>
    <a href="javascript:void(0)" text>{{contactDetail.email}}</a>
</gx-media-icon-card>
<!-- /media -->

<!-- Media -->
<gx-media-icon-card class="mb-5" label="Web Page">
    <gx-icon name="link" size="xl" class="mr-5" icon></gx-icon>
    <a href="javascript:void(0)" text>{{contactDetail.website}}</a>
</gx-media-icon-card>
<!-- /media -->

<!-- Media -->
<gx-media-icon-card label="Phone">
    <gx-icon name="phone-o" size="xl" class="mr-5" icon></gx-icon>
    <span class="h5" text>{{contactDetail.mobile}}</span>
</gx-media-icon-card>
<!-- /media -->

