<!-- Slider -->
<div class="dt-slider rounded-xl overflow-hidden">

    <!-- Slider Header -->
    <div class="dt-slider__header">
        <span class="badge bg-orange text-white text-uppercase">{{event.tag}}</span>
    </div>
    <!-- /slider header -->
    <img class="img-fluid" [src]="event.image"
         alt="{{event.name}}">

</div>
<!-- /slider -->

<!-- Card Stacked -->
<div class="card-stacked">

    <!-- Card Body -->
    <div class="card-body py-sm-0 px-0 px-sm-6 px-md-8">

        <!-- Badges -->
        <span class="badge badge-secondary text-uppercase mb-2">{{event.category}}</span>
        <!-- /badges -->

        <!-- Card Title-->
        <h3 class="card-title font-weight-normal text-truncate mb-3">{{event.title}}</h3>
        <!-- Card Title-->

        <p class="card-text">
            <gx-icon name="location" [fw]="true" class="mr-1"></gx-icon>
            <span>{{event.address}}</span>
        </p>

        <!-- Content Area -->
        <p class="card-text text-truncate">{{event.desc}}</p>
        <!-- /content area -->

    </div>
    <!-- /card body -->

    <!-- Card Footer -->
    <div class="card-footer d-flex flex-column justify-content-between p-0 text-sm-right">
        <!-- Pricing -->
        <a href="javascript:void(0)"
           class="display-5 font-weight-500 mb-6">
            <gx-icon name="calendar" class="mr-2" [fw]="true"></gx-icon>
            <span
                    class="align-middle">{{event.start_date}}</span> </a>
        <!-- /pricing -->

        <!-- Card Button -->
        <a class="card-link font-weight-500"
           href="javascript:void(0)">
            <span>Check in detail</span>
            <gx-icon name="arrow-long-right" size="lg" class="ml-1"></gx-icon>
        </a>
        <!-- /card button -->
    </div>
    <!-- /card footer -->

</div>
<!-- /card stacked -->



