<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title">Buttons</h1>
</div>
<!-- /page header -->

<!-- Grid -->
<div class="row">
  <!-- Grid Item -->
  <div class="col-xl-6">
    <!-- Card -->
    <gx-card card-title="Default Buttons">
      <button type="button" class="btn btn-primary mr-2 mb-2">Primary</button>
      <button type="button" class="btn btn-secondary mr-2 mb-2">Secondary</button>
      <button type="button" class="btn btn-success mr-2 mb-2">Success</button>
      <button type="button" class="btn btn-danger mr-2 mb-2">Danger</button>
      <button type="button" class="btn btn-warning mr-2 mb-2">Warning</button>
      <button type="button" class="btn btn-info mr-2 mb-2">Info</button>
      <button type="button" class="btn btn-light mr-2 mb-2">Light</button>
      <button type="button" class="btn btn-dark mr-2 mb-2">Dark</button>
      <button type="button" class="btn btn-link mb-2">Link</button>
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card card-title="Sizes button">
      <div>
        <button type="button" class="btn btn-primary btn-lg mr-2 mb-2">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg mr-2 mb-2">Large button</button>
      </div>
      <div>
        <button type="button" class="btn btn-primary mr-2 mb-2">Default button</button>
        <button type="button" class="btn btn-secondary mr-2 mb-2">Default button</button>
      </div>
      <div>
        <button type="button" class="btn btn-primary btn-sm mr-2 mb-2">small button</button>
        <button type="button" class="btn btn-secondary btn-sm mb-2">small button</button>
      </div>
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card  card-title="Buttons State">
      <h5 class="text-muted">Active State Buttons</h5>
      <div class="mb-5">
        <button type="button" class="btn btn-primary active mr-2 mb-2">Primary button</button>
        <button type="button" class="btn btn-secondary active mr-2 mb-2">Button</button>
        <a href="javascript:void(0)" class="btn btn-primary active mr-2 mb-2" role="button" aria-pressed="true">Primary
          link</a>
        <a href="javascript:void(0)" class="btn btn-secondary active mb-2" role="button"
           aria-pressed="true">Link</a>
      </div>

      <h5 class="text-muted">Disabled State Buttons</h5>
      <div class="mb-0">
        <button type="button" class="btn btn-primary mr-2 mb-2" disabled>Primary button</button>
        <button type="button" class="btn btn-secondary mr-2 mb-2" disabled>Button</button>
        <a href="javascript:void(0)" class="btn btn-primary mr-2 mb-2 disabled" tabindex="-1" role="button"
           aria-disabled="true">Primary link</a>
        <a href="javascript:void(0)" class="btn btn-secondary mb-2 disabled" tabindex="-1" role="button"
           aria-disabled="true">Link</a>
      </div>
    </gx-card>
    <!-- /card -->

    <ngbd-example-box demoTitle="Checkbox buttons" [snippets]="snippets" component="buttons" demo="checkbox">
      <ngbd-buttons-checkbox></ngbd-buttons-checkbox>
    </ngbd-example-box>
    <ngbd-example-box demoTitle="Checkbox buttons (Reactive Forms)" [snippets]="snippets" component="buttons"
                      demo="checkboxreactive">
      <ngbd-buttons-checkboxreactive></ngbd-buttons-checkboxreactive>
    </ngbd-example-box>
  </div>

  <!-- Grid Item -->
  <div class="col-xl-6">
    <!-- Card -->
    <gx-card  card-title="Button Tags">
      <a class="btn btn-primary mr-2 mb-2" href="javascript:void(0)" role="button">Link</a>
      <button class="btn btn-primary mr-2 mb-2" type="submit">Button</button>
      <input class="btn btn-primary mr-2 mb-2" type="button" value="Input">
      <input class="btn btn-primary mr-2 mb-2" type="submit" value="Submit">
      <input class="btn btn-primary mb-2" type="reset" value="Reset">
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card  card-title="Outlines Buttons">
      <button type="button" class="btn btn-outline-primary mr-2 mb-2">Primary</button>
      <button type="button" class="btn btn-outline-secondary mr-2 mb-2">Secondary</button>
      <button type="button" class="btn btn-outline-success mr-2 mb-2">Success</button>
      <button type="button" class="btn btn-outline-danger mr-2 mb-2">Danger</button>
      <button type="button" class="btn btn-outline-warning mr-2 mb-2">Warning</button>
      <button type="button" class="btn btn-outline-info mr-2 mb-2">Info</button>
      <button type="button" class="btn btn-outline-light mr-2 mb-2">Light</button>
      <button type="button" class="btn btn-outline-dark mb-2">Dark</button>
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card  card-title="Block Buttons">
      <button type="button" class="btn btn-primary btn-block">Block level button</button>
      <button type="button" class="btn btn-secondary btn-block">Block level button</button>
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card  card-title="Toggle states">
        <button type="button" class="btn btn-primary mr-2 mb-2" [ngClass]="{active:toggle_btn_primary}"
                (click)="togglePrimaryButton()" aria-pressed="false"
                autocomplete="off">
          Single toggle
        </button>

        <button type="button" class="btn btn-outline-secondary mb-2" [ngClass]="{active:toggle_btn_secondary}"
                (click)="toggleSecondaryButton()" aria-pressed="false"
                autocomplete="off">
          Single toggle
        </button>
    </gx-card>
    <!-- /card -->

    <ngbd-example-box demoTitle="Radio buttons" component="buttons" demo="radio">
      <ngbd-buttons-radio></ngbd-buttons-radio>
    </ngbd-example-box>
    <ngbd-example-box demoTitle="Radio buttons (Reactive Forms)" component="buttons" demo="radioreactive">
      <ngbd-buttons-radioreactive></ngbd-buttons-radioreactive>
    </ngbd-example-box>
  </div>
</div>
