<swal #toastTypeError
      title="Error"
      html=""
      type="error"
      timer="15000"
      (open)="openAutoClose($event)"
      (close)="closeAutoClose($event)">
</swal>
<swal #toastTypeInformation
      title="Information"
      html=""
      type="info"
      timer="15000"
      (open)="openAutoClose($event)"
      (close)="closeAutoClose($event)">
</swal>
<swal #toastTypeSuccess
      title="Success!"
      html=""
      type="success"
      timer="15000"
      (open)="openAutoClose($event)"
      (close)="closeAutoClose($event)">
</swal>