<!-- Login Content -->
<div class="dt-login__content-wrapper">

  <!-- Header -->
  <auth-header title="Passsword Reset" desc="Enter your email and we will send you a password reset email."></auth-header>
  <!-- /header -->

  <!-- Login Content Section -->
  <div class="dt-login__content">
    <!-- Login Content Inner -->

    <div class="dt-login__content-inner">

      <!-- Form -->
      <form [formGroup]="forgotEmailForm" (ngSubmit)="onSubmit()">

        <!-- Form Group -->
        <div class="form-group">
          <label>Email address</label>
          <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" class="form-error">* Email is required</div>
          </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <button type="submit" id="login-button-id" [disabled]="loading" class="btn btn-primary text-uppercase">Submit</button>
          <span class="d-inline-block ml-5">Or
              <a class="d-inline-block font-weight-500 ml-3" href="auth/signin">Back To Login</a>
            </span>
        </div>
        <!-- /form group -->
      </form>
      <!-- /form -->

    </div>
    <!-- /login content inner -->

  </div>
  <!-- /login content section -->

</div>
<!-- /login content -->
