<!-- Login Content -->
<div class="dt-login__content-wrapper">

  <!-- Header -->
  <auth-header title="Login" desc="Sign in and interact with realtors and other experts"></auth-header>
  <!-- /header -->

  <!-- Login Content Section -->
  <div class="dt-login__content">
    <!-- Login Content Inner -->

    <div class="dt-login__content-inner">

      <!-- Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Form Group -->
        <div class="form-group">
          <label>Email address</label>
          <input type="text" formControlName="username" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required" class="form-error">* Email is required</div>
          </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="form-error">* Password is required</div>
          </div>
        </div>
        <!-- /form group -->

        <a class="d-inline-block font-weight-500 ml-3" style="margin: 10px;" href="auth/forgot-password">Forgot Password?</a>

        <!-- Form Group -->
        <div class="form-group">
          <button type="submit" id="login-button-id" [disabled]="loading" class="btn btn-primary text-uppercase">Login</button>
          <span class="d-inline-block ml-5">Or
              <a class="d-inline-block font-weight-500 ml-3" href="auth/signup">Create a New Account</a>
            </span>
        </div>
        <!-- /form group -->
      </form>
      <!-- /form -->

    </div>
    <!-- /login content inner -->

  </div>
  <!-- /login content section -->

</div>
<!-- /login content -->
