<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title">Dropdown</h1>
</div>
<!-- /page header -->

<!-- Grid -->
<ngx-masonry class="row">

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-md-6">
    <ngbd-example-box demoTitle="Dropdown Basic" [snippets]="snippets" component="dropdown" demo="basic">
      <ngbd-dropdown-basic></ngbd-dropdown-basic>
    </ngbd-example-box>
  </div>
  <!-- /grid item -->

  <div ngxMasonryItem class="col-md-6">
    <!-- Card -->
    <gx-card card-title="Various color Dropdowns">
      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-primary" ngbDropdownToggle>
          Primary
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-secondary" ngbDropdownToggle>
          Secondary
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-success" ngbDropdownToggle>
          Success
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-info" ngbDropdownToggle>
          Info
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-warning" ngbDropdownToggle>
          Warning
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-danger" ngbDropdownToggle>
          Danger
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-light" ngbDropdownToggle>
          Light
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-dark" ngbDropdownToggle>
          Dark
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->
    </gx-card>
    <!-- /card -->
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-md-6">
    <!-- Card -->
    <gx-card card-title="Single Dropdown">
      <!-- Dropdown -->
      <span class="d-inline-block mr-2 mb-2" ngbDropdown>

        <!-- Dropdown Button -->
        <button class="btn btn-primary" type="button" ngbDropdownToggle>
          Dropdown button
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <span ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </span>
        <!-- /dropdown menu -->

      </span>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <span class="d-inline-block mb-2" ngbDropdown>

        <!-- Dropdown Link -->
        <a class="btn btn-primary" href="javascript:void(0)" role="button" ngbDropdownToggle>
          Dropdown link
        </a>
        <!-- /dropdown link -->

        <!-- Dropdown Menu -->
        <span ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </span>
        <!-- /dropdown menu -->

      </span>
      <!-- /dropdown -->
    </gx-card>
    <!-- /card -->
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-md-6">
    <ngbd-example-box demoTitle="Button groups and split buttons" [snippets]="snippets" component="dropdown"
                      demo="split">
      <ngbd-dropdown-split></ngbd-dropdown-split>
    </ngbd-example-box>
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-md-6">
    <ngbd-example-box demoTitle="Manual and custom triggers" [snippets]="snippets" component="dropdown" demo="manual">
      <ngbd-dropdown-manual></ngbd-dropdown-manual>
    </ngbd-example-box>
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-md-6">
    <!-- Card -->
    <gx-card card-title="Sizing Dropdowns">
      <div>
        <!-- Dropdown -->
        <div class="btn-group mr-2 mb-2" ngbDropdown>

          <!-- Dropdown Button -->
          <button class="btn btn-primary btn-lg" type="button" ngbDropdownToggle>
            Primary
          </button>
          <!-- /dropdown button -->

          <!-- Dropdown Menu -->
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          </div>
          <!-- /dropdown menu -->

        </div>
        <!-- /dropdown -->

        <!-- Dropdown -->
        <div class="btn-group mr-2 mb-2" ngbDropdown>

          <!-- Dropdown Button -->
          <button type="button" class="btn btn-primary btn-lg">Primary</button>
          <button type="button" class="btn btn-primary btn-lg dropdown-toggle-split" ngbDropdownToggle>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <!-- /dropdown button -->

          <!-- Dropdown Menu -->
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
          <!-- /dropdown menu -->

        </div>
        <!-- /dropdown -->
      </div>

      <div>
        <!-- Dropdown -->
        <div class="btn-group mr-2 mb-2" ngbDropdown>

          <!-- Dropdown Button -->
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            Primary
          </button>
          <!-- /dropdown button -->

          <!-- Dropdown Menu -->
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          </div>
          <!-- /dropdown menu -->

        </div>
        <!-- /dropdown -->

        <!-- Dropdown -->
        <div class="btn-group mr-2 mb-2" ngbDropdown>

          <!-- Dropdown Button -->
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <!-- /dropdown button -->

          <!-- Dropdown Menu -->
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
          <!-- /dropdown menu -->

        </div>
        <!-- /dropdown -->
      </div>

      <div>
        <!-- Dropdown -->
        <div class="btn-group mr-2 mb-2" ngbDropdown>

          <!-- Dropdown Button -->
          <button class="btn btn-primary btn-sm" type="button" ngbDropdownToggle>
            Primary
          </button>
          <!-- /dropdown button -->

          <!-- Dropdown Menu -->
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          </div>
          <!-- /dropdown menu -->

        </div>
        <!-- /dropdown -->

        <!-- Dropdown -->
        <div class="btn-group mr-2 mb-2" ngbDropdown>

          <!-- Dropdown Button -->
          <button type="button" class="btn btn-primary btn-sm">Primary</button>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle-split" ngbDropdownToggle>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <!-- /dropdown button -->

          <!-- Dropdown Menu -->
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
          <!-- /dropdown menu -->

        </div>
        <!-- /dropdown -->
      </div>
    </gx-card>
    <!-- /card -->
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-md-6">
    <!-- Card -->
    <gx-card card-title="Directions">
      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown placement="top">

        <!-- Dropdown Button -->
        <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
          Top
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown placement="top-left">

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-primary">Top Left</button>
        <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown placement="top-right">

        <!-- Dropdown Button -->
        <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
          Top Right
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown placement="bottom">

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-primary">Bottom</button>
        <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown placement="bottom-left">

        <!-- Dropdown Button -->
        <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
          Bottom Left
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2" ngbDropdown placement="bottom-right">

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-primary">Bottom Right</button>
        <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2 dropleft" ngbDropdown placement="left">

        <!-- Dropdown Button -->
        <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
          Left
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2 dropleft" ngbDropdown placement="left-top">

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-primary">Left Top</button>
        <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2 dropleft" ngbDropdown placement="left-bottom">

        <!-- Dropdown Button -->
        <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
          Left Bottom
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2 dropright" ngbDropdown placement="right">

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-primary">Right</button>
        <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2 dropright" ngbDropdown placement="right-top">

        <!-- Dropdown Button -->
        <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
          Right Top
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->

      <!-- Dropdown -->
      <div class="btn-group mr-2 mb-2 dropright" ngbDropdown placement="right-bottom">

        <!-- Dropdown Button -->
        <button type="button" class="btn btn-primary">Right Bottom</button>
        <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <!-- /dropdown button -->

        <!-- Dropdown Menu -->
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /dropdown -->
    </gx-card>
    <!-- /card -->
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-md-6">
    <ngbd-example-box demoTitle="Global configuration of dropdowns" [snippets]="snippets" component="dropdown"
                      demo="config">
      <ngbd-dropdown-config></ngbd-dropdown-config>
    </ngbd-example-box>
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-xl-6">
    <!-- Card -->
    <gx-card card-title="In Menus">
      <!-- Static Dropdown Menu -->
      <div class="static-dropdown-menu">

        <!-- Dropdown Menu -->
        <div class="dropdown-menu">
          <span class="dropdown-item-text">Dropdown item text</span>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- /dropdown menu -->

        <!-- Dropdown Menu -->
        <div class="dropdown-menu">
          <span class="dropdown-item-text">Dropdown item text</span>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item active" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
        <!-- Dropdown Menu -->

      </div>
      <!-- /static dropdown menu -->

      <card-body>
        <!-- Static Dropdown Menu -->
        <div class="static-dropdown-menu">

          <!-- Dropdown Menu -->
          <div class="dropdown-menu">
            <h5 class="dropdown-header">Dropdown Header</h5>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          </div>
          <!-- /dropdown menu -->

          <!-- Dropdown Menu -->
          <div class="dropdown-menu">
            <span class="dropdown-item-text">Dropdown item text</span>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item disabled" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          </div>
          <!-- Dropdown Menu -->

        </div>
        <!-- /static dropdown menu -->
      </card-body>

      <!-- Card Body -->
      <card-body>

        <!-- Static Dropdown Menu -->
        <div class="static-dropdown-menu">

          <!-- Dropdown Menu -->
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
          <!-- /dropdown menu -->

          <!-- Dropdown Menu -->
          <div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">
            <p class="mb-0">
              Some example text that's free-flowing within the dropdown menu.
            </p>
          </div>
          <!-- Dropdown Menu -->

        </div>
        <!-- /static dropdown menu -->

      </card-body>
      <!-- /card body -->

    </gx-card>
    <!-- /card -->
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div ngxMasonryItem class="col-xl-6">
    <!-- Card -->
    <gx-card card-title="In form Menu">
      <!-- Static Dropdown Menu -->
      <div class="static-dropdown-menu">

        <!-- Dropdown Menu -->
        <div class="dropdown-menu">
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                     placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                     placeholder="Password">
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">New around here? Sign up</a>
          <a class="dropdown-item" href="javascript:void(0)">Forgot password?</a>
        </div>
        <!-- /dropdown menu -->

      </div>
      <!-- /static dropdown menu -->
    </gx-card>
    <!-- /card -->
  </div>
  <!-- /grid item -->

</ngx-masonry>
