<!-- Features Start -->
<section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);"
  id="features">
  <div class="container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="text-center mb-5">
            <h3 class="title mb-3">Something For Everyone</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 offset-lg-1">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> If you have a home or are looking to buy a home</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Get<b> Personalized Real Estate Advice</b> & <b> Find The Best Rated Real Estate Agents</b> </h3>
        <p class="text-muted font-size-15 mb-4">You can ask any real estate question and get answers from multiple real estate agents, with no strings attached. 
          The real estate agents on our site are reviewed and rated by clients like you, so you can trust that you are getting the best!
        </p>
          <p class="text-muted mb-2">
            <i-feather class="icon-xs mr-1" name="server"></i-feather> Ask any real estate question anytime, anywhere
          </p>
          <p class="text-muted">
            <i-feather class="icon-xs mr-1" name="rss"></i-feather> Connect with real estate agents who are rated and reviewed by clients, just like you. 
          </p>
        <div class="mt-5">
          <a href="portal/forum/forum-list" class="btn btn-primary mr-2">Learn More</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/images/family.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section feather-bg-img" style="background-image: url(assets/images/features-bg-img-1.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> If You Are A Real Estate Agent</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Connect <b>With Ideal Clients</b></h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">Show off your expertise in real estate by participating in forums.Get access to a personal profile page which doubles as your mini blog.Attract clients who are interested in working with you.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="server"></i-feather> Show off your knowledge and expertise
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="rss"></i-feather> Create meaningful connections with home buyers and sellers
        </p>
        <div class="mt-5">
          <a href="portal/forum/forum-list" class="btn btn-primary mr-2">Learn More</a>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/businessman.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features End -->
