<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title">Tooltip</h1>
</div>
<!-- /page header -->

<!-- Grid -->
<div class="row">
  <!-- Grid Item -->

  <div class="col-xl-6">
    <ngbd-example-box demoTitle="Quick and easy tooltips" [snippets]="snippets" component="tooltip" demo="basic">
      <ngbd-tooltip-basic></ngbd-tooltip-basic>
    </ngbd-example-box>

    <ngbd-example-box
      demoTitle="HTML and bindings in tooltips" [snippets]="snippets" component="tooltip" demo="tplcontent">
      <ngbd-tooltip-tplcontent></ngbd-tooltip-tplcontent>
    </ngbd-example-box>

    <ngbd-example-box
      demoTitle="Custom and manual triggers" [snippets]="snippets" component="tooltip" demo="triggers">
      <ngbd-tooltip-triggers></ngbd-tooltip-triggers>
    </ngbd-example-box>
  </div>

  <div class="col-xl-6">
    <ngbd-example-box
      demoTitle="Context and manual triggers" [snippets]="snippets" component="tooltip" demo="tplwithcontext">
      <ngbd-tooltip-tplwithcontext></ngbd-tooltip-tplwithcontext>
    </ngbd-example-box>

    <ngbd-example-box
      demoTitle="Append tooltip in the body" [snippets]="snippets" component="tooltip" demo="container">
      <ngbd-tooltip-container></ngbd-tooltip-container>
    </ngbd-example-box>

    <ngbd-example-box
      demoTitle="Global configuration of tooltips" [snippets]="snippets" component="tooltip" demo="config">
      <ngbd-tooltip-config></ngbd-tooltip-config>
    </ngbd-example-box>
  </div>
</div>
