<!-- Contact Us Start -->
<section class="section bg-light" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Contact Us</h3>
          <p class="text-muted font-size-15">We would love to hear from you!</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="custom-form mb-5 mb-lg-0">
          <div id="message"></div>
          <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input id="name" type="text" formControlName="name" class="form-control" autocomplete="off" placeholder="Your name..." [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div class="form-error" *ngIf="f.name.errors.required">* Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input id="email" type="email" formControlName="email" class="form-control" autocomplete="off" placeholder="Your email..." [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div class="form-error" *ngIf="f.email.errors.required">* Email is required</div>
                    <div class="form-error" *ngIf="f.email.errors.email">* Email must be a valid email</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="comments">Message</label>
                  <textarea id="comments" formControlName="message" style="height: 100px;" rows="4" class="form-control" placeholder="Your message..." [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                  <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                    <div class="form-error" *ngIf="f.message.errors.required">* Messsage is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Send Message <i-feather class="icon-size-15 ml-2 icon" name="send"></i-feather></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="contact-detail text-muted ml-lg-5">
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="mail"></i-feather> : <span>info@HouseRicher.com</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->
