<!-- Login Content -->
<div class="dt-login__content-wrapper">

  <!-- Header -->
  <auth-header title="Passsword Reset" desc="Reset the password to your account."></auth-header>
  <!-- /header -->

  <!-- Login Content Section -->
  <div class="dt-login__content">
    <!-- Login Content Inner -->

    <div class="dt-login__content-inner">

      <!-- Form -->
      <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
        <!-- Form Group -->
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div class="form-error" *ngIf="f.password.errors.required">* Password is required</div>
                <div class="form-error" *ngIf="f.password.errors.minlength">* Password must be at least 6 characters</div>
                <div class="form-error" *ngIf="f.password.errors.passwordValidation">* Password must contain 1 special character, 1 number, 1 Upper case letter, and 1 lowercase letter</div>
            </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="passwordConfirm" placeholder="Confirm Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" />
            <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback">
                <div class="form-error" *ngIf="f.passwordConfirm.errors.required">* Password Confirm is required</div>
                <div class="form-error" *ngIf="f.passwordConfirm.errors.passwordConfirmValidation">* Passwords must match</div>
            </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <button type="submit" id="login-button-id" [disabled]="loading" class="btn btn-primary text-uppercase">Reset Password</button>
        </div>
        <!-- /form group -->
      </form>
      <!-- /form -->

    </div>
    <!-- /login content inner -->

  </div>
  <!-- /login content section -->

</div>
<!-- /login content -->
