<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title">Badges</h1>
</div>
<!-- /page header -->

<!-- Grid -->
<div class="row">

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card card-title="Heading Badges">
      <h1>Example heading <span gxBadge="secondary">New</span></h1>
      <h2>Example heading <gx-badge type="secondary">New</gx-badge></h2>
      <h3>Example heading <gx-badge type="secondary">New</gx-badge></h3>
      <h4>Example heading <gx-badge type="secondary">New</gx-badge></h4>
      <h5>Example heading <gx-badge type="secondary">New</gx-badge></h5>
      <h6>Example heading <gx-badge type="secondary">New</gx-badge></h6>
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card card-title="Button badges">
      <button type="button" class="btn btn-primary mr-3">
        Notifications <span gxBadge="light">4</span>
      </button>

      <button type="button" class="btn btn-primary">
        Profile <gx-badge type="light">9</gx-badge>
        <span class="sr-only">unread messages</span>
      </button>
    </gx-card>
    <!-- /card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card card-title="Contextual variations">
      <gx-badge class="mb-2 mr-2" type="primary">Primary</gx-badge>
      <gx-badge class="mb-2 mr-2" type="secondary">Secondary</gx-badge>
      <gx-badge class="mb-2 mr-2" type="success">Success</gx-badge>
      <gx-badge class="mb-2 mr-2" type="danger">Danger</gx-badge>
      <span class="mb-2 mr-2" gxBadge="warning">Warning</span>
      <span class="mb-2 mr-2" gxBadge="info">Info</span>
      <span class="mb-2 mr-2" gxBadge="light">Light</span>
      <span class="mb-2 mr-2" gxBadge="dark">Dark</span>
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card card-title="Pill Badges">
      <gx-badge class="mb-2 mr-2" type="primary" pill>Primary</gx-badge>
      <gx-badge class="mb-2 mr-2" type="secondary" pill>Secondary</gx-badge>
      <gx-badge class="mb-2 mr-2" type="success" pill>Success</gx-badge>
      <gx-badge class="mb-2 mr-2" type="danger" pill>Danger</gx-badge>
      <span class="mb-2 mr-2" gxBadge="warning" pill>Warning</span>
      <span class="mb-2 mr-2" gxBadge="info" pill>Info</span>
      <span class="mb-2 mr-2" gxBadge="light" pill>Light</span>
      <span class="mb-2 mr-2" gxBadge="dark" pill>Dark</span>
    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card card-title="Links Badges">
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="primary">Primary</a>
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="secondary">Secondary</a>
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="success">Success</a>
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="danger">Danger</a>
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="warning">Warning</a>
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="info">Info</a>
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="light">Light</a>
      <a href="javascript:void(0)" class="mb-2 mr-2" gxBadge="dark">Dark</a>
    </gx-card>
    <!-- /card -->

  </div>
  <!-- /grid item -->

</div>
<!-- /grid -->
