<!-- Login Content -->
<div class="dt-login__content-wrapper" (window:beforeunload)="areYouSure($event)">

  <!-- Header -->
  <auth-header title="Sign Up" desc="Sign up and interact with realtors and other experts"></auth-header>
  <!-- /header -->

  <!-- Login Content Section -->
  <div class="dt-login__content">

    <!-- Login Content Inner -->
    <div class="dt-login__content-inner">

      <!-- Form -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Form Group -->
        <div class="form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstName" placeholder="First Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div class="form-error" *ngIf="f.firstName.errors.required">* First Name is required</div>
          </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div class="form-error" *ngIf="f.lastName.errors.required">* Last Name is required</div>
          </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div class="form-error" *ngIf="f.email.errors.required">* Email is required</div>
              <div class="form-error" *ngIf="f.email.errors.email">* Email must be a valid email</div>
          </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>Province</label>
          <select formControlName="province" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.province.errors }">
            <option value="" disabled selected>Province</option>
            <option value="Alberta">Alberta</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Manitoba">Manitoba</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
            <option value="Northwest Territories">Northwest Territories</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="Nunavut">Nunavut</option>
            <option value="Ontario">Ontario</option>
            <option value="Prince Edward Island">Prince Edward Island</option>
            <option value="Quebec">Quebec</option>
            <option value="Saskachewan">Saskachewan</option>
            <option value="Yukon">Yukon</option>
          </select>
          <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
              <div class="form-error" *ngIf="f.province.errors.required">* Province is required</div>
          </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>City</label>
          <input type="text" formControlName="city" placeholder="City" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div class="form-error" *ngIf="f.city.errors.required">* City is required</div>
          </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div class="form-error" *ngIf="f.password.errors.required">* Password is required</div>
                <div class="form-error" *ngIf="f.password.errors.minlength">* Password must be at least 6 characters</div>
                <div class="form-error" *ngIf="f.password.errors.passwordValidation">* Password must contain 1 special character, 1 number, 1 Upper case letter, and 1 lowercase letter</div>
            </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="passwordConfirm" placeholder="Confirm Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" />
            <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback">
                <div class="form-error" *ngIf="f.passwordConfirm.errors.required">* Password Confirm is required</div>
                <div class="form-error" *ngIf="f.passwordConfirm.errors.passwordConfirmValidation">* Passwords must match</div>
            </div>
        </div>
        <!-- /form group -->

        <!-- Form Group -->
        <div class="dt-checkbox d-block mb-6">
          <input type="checkbox" formControlName="termsAndConditions" [ngClass]="{ 'is-invalid': submitted && f.termsAndConditions.errors }">
          <label class="dt-checkbox-content">
            by signing up, I accept the <a href="javascript:void(0)">Terms &amp; Conditions</a>
          </label>
        </div>
        <div *ngIf="submitted && f.termsAndConditions.errors" class="error-container-Value">
          <div class="form-error" *ngIf="f.termsAndConditions.errors.required">* The terms of service must be accepted</div>
        </div>
        <!-- /form group -->
        
        <span class="d-inline-block" style="margin-bottom: 20px;">
          <a class="d-inline-block font-weight-500" href="auth/signup-realtor">Sign up as a Realtor</a>
        </span>

        <!-- Form Group -->
        <div class="form-group">
          <button type="submit" [disabled]="loading" class="btn btn-primary text-uppercase">Sign up</button>
          <span class="d-inline-block ml-5">Or
            <a class="d-inline-block font-weight-500 ml-3" href="auth/signin">Login</a>
          </span>
        </div>
        <!-- /form group -->
      </form>
      <!-- /form -->

    </div>
    <!-- /login content inner -->

  </div>
  <!-- /login content section -->

</div>
<!-- /login content -->
